<style>
  .profileText {
    text-align: center;
    color: bisque;
    font-size: 40px;
    font-family: baveuse;
  }

  #bio {
    color: black;

  }

  .post-text-size {
    font-family: baveuse;
  }

  .post-text-size:hover{
    font-family: baveuse-3d;
  
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="profileText" id="name" data-ID="{{id}}">{{displayName}}'s Page</h2>
      <h4 class="profileText" id="email">{{email}} </h4>
      <h4 class="profileText" id="bio">{{bio}}</h4>

      <ul>
          {{#each posts}}
          <div class="card mb-3 text-center">
            <a class="post-text-size" href="/posts/{{id}}">
              {{title}}
            </a>

          </div>
          {{/each}}
        </ul>

    </div>
  </div>
</div>