
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><textarea readonly class="profileText" id="name" data-ID="{{id}}">{{displayName}}</textarea>'s Page</h2>
      <h4>Email:<textarea readonly class="profileText" id="email">{{email}}</textarea> </h4>
      <h4>Bio:<textarea readonly class="profileText" id="bio">{{bio}}</textarea> </h4>

      <ul>
        {{#each posts}}
        <li >
          <a href="/posts/{{id}}">
            {{title}}
          </a>
          
        </li>
        {{/each}}
      </ul>

    </div>
  </div>
</div>