<style>
  .profileText{
    text-align: center;
    color: bisque;
    font-size:30px
  }
  .back{
    
  }

  #bio{
    color: black;
    
  }

</style>
<div class="container back">
  <div class="row">
    <div class="col-md-12">
      <h2 class="profileText" id="name" data-ID="{{id}}">{{displayName}}'s Page</h2>
      <h4 class="profileText" id="email">{{email}} </h4>
      <h4 class="profileText">Bio:<textarea readonly class="profileText" id="bio">{{bio}}</textarea> </h4>
      <button id="profileEdit">Edit</button>
      <ul>
        {{#each posts}}
        <li >
          <a href="/posts/{{id}}">
            {{title}}
          </a>
          <button class="deletePost" data-postID={{id}}>Delete Post</button>
        </li>
        {{/each}}
      </ul>

    </div>

  </div>

</div>


</body>





<script>
  $("#profileEdit").one("click",makeChanges);
  $(".deletePost").on("click",function(){
    deletePost($(this));
  })

  function makeChanges() {
    console.log("hi");
    $(".profileText").attr("readonly", false);
    $("#profileEdit").text("Save Changes");
     $("#profileEdit").one("click",function() {
      saveChanges();
    }); 
  }

  function saveChanges() {
    let changes = {
      id: $("#name").data("id"),
      email: $.trim($("#email").val()),
      displayName: $.trim($("#name").val()),
      bio: $.trim($("#bio").val())
    }
    console.log(changes);
    $.ajax({
      url:"/api/users",
      method:"PUT",
      data:changes
    }).then(results =>{
      console.log(results);
    });

    //$("#profileEdit").one("click",makeChanges);
    $("#profileEdit").text("Edit");
  }


  function deletePost(btn){
    $.ajax({
      url:"/api/posts/"+btn.data("postid"),
      method: "DELETE"
    }).then(results =>{
       location.reload();
    });
 
  }
</script>