<style>
  .profileText {
    text-align: center;
    color: bisque;
    font-size: 40px;
    font-family: baveuse;
  }

  #bio {
    color: black;

  }

  .post-text-size {
    font-family: baveuse;
  }

  .post-text-size:hover{
    font-family: baveuse-3d;
    font-size:40px
  }
</style>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="profileText" id="name" data-ID="{{id}}">{{displayName}}'s Page</h2>
      <h4 class="profileText" id="email">{{email}} </h4>
      <h4 class="profileText">Bio:<textarea class="profileText" id="bio">{{bio}}</textarea> </h4>
      <div class="text-center">
        <button type="button" class="btn btn-outline-warning" id="profileEdit" style="500px">Edit</button>
        <ul>
          {{#each posts}}
          <div class="card mb-3">
            <a class="post-text-size" href="/posts/{{id}}">
              {{title}}
            </a>

            <button class="btn btn-outline-warning deletePost" data-postID={{id}}>Delete Post</button>

          </div>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

</body>





<script>
  $("#profileEdit").one("click", makeChanges);
  $(".deletePost").on("click", function () {
    deletePost($(this));
  })

  function makeChanges() {
    console.log("hi");
    $(".profileText").attr("readonly", false);
    $("#profileEdit").text("Save Changes");
    $("#profileEdit").one("click", function () {
      saveChanges();
    });
  }

  function saveChanges() {
    let changes = {
      id: $("#name").data("id"),
      email: $.trim($("#email").val()),
      displayName: $.trim($("#name").val()),
      bio: $.trim($("#bio").val())
    }
    console.log(changes);
    $.ajax({
      url: "/api/users",
      method: "PUT",
      data: changes
    }).then(results => {
      console.log(results);
    });

    //$("#profileEdit").one("click",makeChanges);
    $("#profileEdit").text("Edit");
  }


  function deletePost(btn) {
    $.ajax({
      url: "/api/posts/" + btn.data("postid"),
      method: "DELETE"
    }).then(results => {
      location.reload();
    });

  }
</script>